<div id="history">
  <h3><%=l(:label_history)%></h3>
  <% audits.each do |audit| %>
    <div class="journal">
      <% if audit.action == 'create' %>
        <h4><%= authoring audit.created_at, audit.user %></h4>
      <% else %>
        <h4><%= authoring audit.created_at, audit.user, :label => :label_updated_time_by %></h4>
        <%= avatar(audit.user, :size => "32") %>
        <ul>
          <% audit.changes.each do |attr, values| %>
            <% detail = change_to_detail(audit.auditable, attr, values) %>
            <li><%= show_detail detail %></li>
          <% end %>
        </ul>
      <% end %>
    </div>  
  <% end %>
</div>
