<%= error_messages_for 'customer' %>

<div class="box"> 
  <p>
    <label for="customer_name"><%=l(:field_name)%> <span class="required">*</span></label>
    <%= text_field 'customer', 'name', :required => true -%>
  </p>

  <p>
    <label for="customer_email"><%=l(:field_email)%></label>
    <%= text_field 'customer', 'email' -%>
  </p>

  <%= render :partial => 'form_custom_fields', :locals => {:customer => @customer} %>
</div>

<% content_for :header_tags do %>
  <%= javascript_include_tag "jquery.min.js", "jquery.maskedinput.js", :plugin => 'redmine_customer' %>
  <% javascript_tag do %>
    jQuery.noConflict();
    jQuery(function() {
      jQuery('.cpf input').mask('999.999.999-99');
      jQuery('.cnpj input').mask('99.999.999/9999-99');
    });
  <% end %>
<% end %>

