<%= error_messages_for 'customer' %>

<div class="box"> 
  <p>
    <%= f.text_field 'name', :label=>l(:field_customer_name) -%><span class="required">*</span>
  </p>
  <p>
    <%= f.text_area 'address', :label=>l(:field_customer_address), :rows => 5 -%>
  </p>
  <p>
    <%= f.text_field 'neighborhood', :label=>l(:field_customer_neighborhood) -%>
  </p>
  <p>
    <%= f.text_field 'number', :label=>l(:field_customer_number) -%>
  </p>
  <p>
    <%= f.text_field 'residential_phone', :label=>l(:field_customer_residential_phone) -%>
  </p>
  <p>
    <%= f.text_field 'mobile_phone', :label=>l(:field_customer_mobile_phone) -%>
  </p>
  <p>
    <%= f.text_field 'email', :label=>l(:field_customer_email) -%>
  </p>
  <p>
    <%= f.date_select 'birthday', :label=>l(:field_customer_birthday) -%>
  </p>
  <p>
    <%= f.text_field 'cpf', :label=>l(:field_customer_cpf) -%>
  </p>
  <p>
    <%= f.text_field 'rg', :label=>l(:field_customer_rg) -%>
  </p>
  <p>
    <%= f.text_field 'rg_expeditor', :label=>l(:field_customer_rg_expeditor) -%>
  </p>
  <p>
    <%= f.select 'gender', 
      [
        [l(:field_customer_gender_male), :male],
        [l(:field_customer_gender_female), :female]
      ],
      :label=>l(:field_customer_gender) -%>
  </p>
  <p>
    <%= f.select 'favorite_contact', 
      [
        [l(:field_customer_favorite_contact_email), :email],
        [l(:field_customer_favorite_contact_phone), :phone],
        [l(:field_customer_favorite_contact_mail), :mail]
      ],
      :label=>l(:field_customer_favorite_contact) -%>
  </p>
</div>
