<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'form', :plugin => 'customer_plugin' %>
  <%= javascript_include_tag "jquery.min.js", "jquery.maskedinput.js", :plugin => 'customer_plugin' %>
  <% javascript_tag do %>
    jQuery.noConflict();
    jQuery(function() {
      jQuery('.cpf input, .cnpj input').mask('999.999.999-99');
    });
  <% end %>
<% end %>

<%= error_messages_for 'customer' %>

<div class="box"> 
  <p>
    <%= f.text_field 'name', :required => true -%>
  </p>
  <p>
    <%= f.text_field 'email', :label => :field_email -%>
  </p>

  <%= render :partial => 'form_custom_fields', :locals => {:customer => @customer} %>
</div>

