<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'form', :plugin => 'customer-plugin' %> 
  <%= javascript_include_tag "jquery.min.js", :plugin => "customer-plugin" %>
  <%= javascript_include_tag "jquery.validate.js", :plugin => "customer-plugin" %>
  <%= javascript_include_tag "jquery.maskedinput.js", :plugin => "customer-plugin" %>
  <%= javascript_include_tag "customer-plugin", :plugin => "customer-plugin" %>
<% end %>

<%= error_messages_for 'customer' %>

<div class="box"> 
  <p>
    <%= f.text_field 'name', :required => true -%>
  </p>
  <p>
    <%= f.text_field 'email', :label => :field_email -%>
  </p>

  <%= render :partial => 'form_custom_fields', :locals => {:customer => @customer} %>
</div>

