<%= render :partial => 'top_menu' %>

<h2><%= l(:label_customer_plural) %></h2>

<%= render 'filters' %>

<div class="splitcontentleft">
  <% if @customers.any? %>
    <table class="list members">
      <%= render :partial => "list", :collection => @customers , :as => :customer %>
    </table>
  <% else %>
    <p class="nodata"><%=l(:label_no_data)%></p>
  <% end %>
</div>

<div class="splitcontentright">
  <% if @no_member_customers.any? %>
    <% form_for(:member, :url => {:controller => 'customers', :action => 'create'}, :method => :post) do |f| %>
      <fieldset><legend><%=l(:label_member_new)%></legend>

        <%= customers_check_box_tags 'member[customer_ids][]', @no_member_customers %>

        <p><%= submit_tag l(:button_add) %></p>
      </fieldset>
    <% end %>
  <% end %>
</div>

<% content_for(:header_tags) do %>
  <%= stylesheet_link_tag "customer", :plugin => "redmine_customer" %>
<% end %>

