<%= render :partial => 'top_menu' %>

<h2><%= l(:label_customer_plural) %></h2>

<%= render 'filters' %>

<% unless @customers.empty? %>
  <table class="list">
    <% @customers.each do |customer| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= link_to "#{customer} - #{customer.email}", customer_url(customer, :project_id => params[:project_id]) %></td>
        <td align="right">
          <small>
              <%= link_to l(:button_edit), edit_customer_url(customer, :project_id => params[:project_id]), :class => 'icon icon-edit' %>
              <%= link_to l(:button_delete), customer_url(customer, :project_id => params[:project_id]), :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del' %>
              <%= link_to_tasks customer %>
              <%= link_to_new_task customer %>
          </small>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="nodata"><%=l(:label_no_data)%></p>
<% end %>

<% content_for(:header_tags) do %>
  <style type="text/css">
    .icon-users { background-image: url(../../images/user.png); }
    fieldset { margin-bottom: 20px }
  </style>
<% end %>

