<%= render :partial => 'top_menu' %>

<h2><%= l(:label_customer) %></h2>

<% unless @customer.nil? -%>
  <div class="box">
    <p>
      <%= link_to @customer, '#', :class => 'header' %> | <%= link_to_tasks @customer %> | <%= link_to_new_task @customer %>
      <% if @customer.email.present? %>
        | <%= link_to t(:label_send_email), '#', :class => 'send_email' %>
      <% end %>
    </p>

    <% if @customer.email? %>
      <div class="email" style="display: none;">
        <% form_tag mail_project_customer_url(@project, @customer) do %>
          <p>
            <%= label_tag t(:label_customer_email_subject) %>: <br />
            <%= text_field_tag 'subject', nil, :size => 100 %>
          </p>
          <p>
            <%= label_tag t(:label_customer_email_body) %>: <br />
            <%= text_area_tag 'body', nil, :rows => 10, :cols => 100 %>
          </p>
          <p>
            <%= submit_tag t(:label_send_email) %>
          </p>
        <% end %>
      </div>
    <% end %>

    <div class="details">
      <p><%= l(:field_name) %>: <%= h @customer.name %></p>
      <p><%= l(:field_email) %>: <%= h @customer.email %></p>
      <% @customer.custom_values.each do |custom_value| %>
        <p><%= custom_value.custom_field.name %>: <%= h custom_value.value %></p>
      <% end %>
      <p>
        <%= link_to l(:button_edit), edit_project_customer_url(@project, @customer) %>
      </p>
    </div>

  </div>

  <%= render :partial => 'audits', :locals => {:audits => @customer.audits.all(:order => 'id desc')} %>

<% else %>
  <p class="nodata"><%=l(:label_no_data)%></p>
<% end %>

<% content_for(:header_tags) do %>
  <%= stylesheet_link_tag "customer", :plugin => "redmine_customer" %>
  <%= javascript_include_tag "jquery.min.js", :plugin => 'redmine_customer' %>
  <% javascript_tag do %>
    jQuery.noConflict();
    jQuery(document).ready(function(){
      jQuery('.header').click(function(){
        jQuery('.details').slideToggle();
      });
      jQuery('.send_email').click(function(){
        jQuery('.email').slideToggle();
        jQuery('#subject').focus();
      });
    });
  <% end %>
<% end %>
