<%= render :partial => 'top_menu' %>

<h2><%= l(:label_customer) %></h2>

<% unless @customer.nil? -%>
  <div class="box">
    <p><%= link_to "#{@customer} - Detalhes", '#', :class => 'header' %> | <%= link_to_tasks @customer %> | <%= link_to_new_task @customer %></p>
    <div class="details">
      <p><%= l(:field_name) %>: <%= h @customer.name %></p>
      <p><%= l(:field_email) %>: <%= h @customer.email %></p>
      <% @customer.custom_values.each do |custom_value| %>
        <p><%= custom_value.custom_field.name %>: <%= h custom_value.value %></p>
      <% end %>
      <p>
        <%= link_to 'Editar', {:controller => 'customers', :action => 'edit', :project_id => params[:project_id], :id => @customer} %>
      </p>
    </div>
  </div>

  <%= render :partial => 'audits', :locals => {:audits => @customer.audits.all(:order => 'id desc')} %>

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" %>
  <% javascript_tag do %>
    jQuery.noConflict();
    jQuery(document).ready(function(){
      jQuery('.header').click(function(){
        jQuery('.details').slideToggle();
      });
    });
  <% end %>
<% else %>
  <p class="nodata"><%=l(:label_no_data)%></p>
<% end %>
